.container {
  width: 100%;
  max-width: 28.8rem;
  height: 5.6rem;
  background: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.text {
  color: #ffffff;
}
