.triangle {
  width: 0;
  height: 0;
  border-left: 224px solid transparent;
  border-right: 224px solid transparent;
  border-top: 212px solid #979797;
  position: relative;
}

.text {
  color: #ffffff;
  position: absolute;
  top: -160px;
  left: -224px;
  width: 448px;
  text-align: center;
  letter-spacing: 0.05em;
}
